html{
  background-color: orange;
}

.content{
  font-family: "Trirong", serif;
  text-align: center;
  line-height: 50px;
}

#pepe{
  margin-top: 40px;
  max-width: 500px;
}

span{
  color: black;
  font-weight: bolder;
}
