body {
  background: rgb(107, 101, 101);
  color: white;
  text-align: center;
}

.light-mode {
  background-color: white;
  color: black;
}

h1 {
  font-family: 'Scheherazade New', serif;
  font-size: 35px;
}

.content {
  font-family: "Cairo", sans-serif;
  display: block;
  margin: 0 auto;
}

.toggleBar{
  text-align: center;

}

.iconBar {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

#modeChange {
  max-width: 50px;
}

#github, #linkedin, #pdf{
  max-width: 50px;
}

#github:hover, #linkedin:hover, #pdf:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

