body {
  text-align: center;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}


h1 {
  font-family: 'Cute Font', sans-serif;
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
}

.content {
  font-family: "Inknut Antiqua", serif;
  display: block;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: -60px;
}

.content button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content button:hover {
  opacity: 0.8;
}

.iconBar {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

#modeChange {
  max-width: 50px;
}

#github, #linkedin, #pdf{
  max-width: 50px;
}

#github:hover, #linkedin:hover, #pdf:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

.navigate-button {
  position: fixed;
  top: 10px; /* adjust as needed */
  right: 10px; /* adjust as needed */
}
.nanalan-img {
  width: 300px; /* adjust as needed */
  height: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinning-heart {
  display: inline-block;
  font-size: 50px; /* adjust as needed */
  color: red; /* adjust as needed */
  animation: spin 2s linear infinite;
}

.clear {
  clear: both;
}

@media (max-width: 600px) {
  .navigate-button {
    margin-bottom: 20px; /* add space below the button */
  }

  .AwesomeButton {
    font-size: 14px; /* make the button text smaller */
  }

  .content {
    font-size: 14px; /* make the content text smaller */
    padding: 0 20px; /* add padding on the left and right */
  }
}